@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap%27');
.Header {
    margin-top: 10%;
    font-size: 40px;
    font-weight: 200px;
    font-family: 'Lora', serif;
}

.paragraph {
    font-family: 'Lora', serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #ffa64f;
    text-align: center;
    padding: 14px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lora', serif;
}

.topnav a:hover {
    background-color: rgb(231, 164, 87);
    color: black;
}

body {
    background-color: rgb(43, 42, 42);
}

#header-welcome {
    color: #ffa64f
}

#paragraph-1 {
    color: #ffa64f
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7493a;
    justify-content: center;
    width: 75%;
}

#sub-container {
    background-color: rgb(43, 42, 42);
    width: 90%;
    text-align: center;
}

#outer-container {
    height: 800px;
    display: flex;
    align-items: center;
    background-color: rgb(43, 42, 42);
    justify-content: center;
}